head
  title example
  link(id='rxfavico', rel='icon', href='/favicon.ico?v=2')/

body
  h1 Favico demo
  +hello

template(name='hello')
  button Click Me
  p You've pressed the button #{counter} times.
